html {
  background-color: black;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
}

#main {
  width: 100%;
}

.form__name {
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  text-align: center;
}

.login {
  h1 {
    text-align: center;
  }
}